.s-container {
    position: relative;

}

.s-container .swiper {
    width: 70%;
    height: 12rem;
    position: unset;
}

.s-container .swiper-slide {
    background: var(--bg2);
    display: flex;
    border-radius: 10px;
    border: 2px solid var(--bordercolor);
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

}

.s-container .swiper-button-prev {
    left: 6rem;
    color: #d68189;
}

.s-container .swiper-button-next {
    right: 6rem;
    color: #d68189;

}

.left-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    display: flex;
    flex-direction: column;
}

.name >:nth-child(1){
    font-size: 1.4rem;
}